{% extends '::base.html.twig' %}
    
{% block body -%}
    {{ parent() }}
<div class="panel panel-default">
    
    <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt"></span>
        <h3 class="panel-title" style="display: inline;">{% if title is defined %}{{title}}{% endif %}</h3>
    </div>
        
    <div id="yw0" class="panel-body  table-responsive">
        
        <table class="records_list table table-bordered table-striped table-hover" border="1">
            <thead>
                <tr class="success">
                    <th>Id</th>
                    <th>Ano</th>
                    <th>Asientoregistral</th>
                    <th>Fechaactualizacion</th>
                    <th>Fechacreacion</th>
                    <th>Fecharegistro</th>
                    <th>Folioreal</th>
                    <th>Nombre</th>
                    <th>Nrodocumento</th>
                    <th>Nromatricula</th>
                    <th>Nroprotocolo</th>
                    <th>Registropublicoid</th>
                    <th>Tomo</th>
                    <th>Totalunidades</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('protocolizacion_unidad_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.ano }}</td>
                    <td>{{ entity.asientoRegistral }}</td>
                    <td>{% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.fechaRegistro %}{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.folioReal }}</td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.nroDocumento }}</td>
                    <td>{{ entity.nroMatricula }}</td>
                    <td>{{ entity.nroProtocolo }}</td>
                    <td>{{ entity.registroPublicoId }}</td>
                    <td>{{ entity.tomo }}</td>
                    <td>{{ entity.totalUnidades }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('protocolizacion_unidad_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('protocolizacion_unidad_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div align="right">
    <a href="{{ path('_welcome') }}" class="btn btn-success" role="button">Inicio</a>
    <a href="{{ path('protocolizacion_unidad_new') }}" class="btn btn-primary">Crear Registro</a>
</div>
    {% endblock %}