{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent() }}
    <div class="panel panel-default">

        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span>
            <h3 class="panel-title" style="display: inline;">Archivos de Beneficiarios Temporales Cargados</h3>
        </div>

        <div id="yw0" class="panel-body">    
            {% if entities|length > 0 %}
                <table class="records_list table table-bordered table-striped table-hover" border="1">
                    <thead>
                        <tr class="success">
                            <th>Id</th>
                            <th>Desarrollo Habitacional</th>
                            <th>Unidad Habitacional</th>
                            <th>Nombre del Archivo</th>
                            <th>Usuario Carga Archivo</th>
                            <th>Fecha de Carga</th>
                            <th>Acción</th>
                        </tr>
                     </thead>
                    <tbody  id="pagination">{# Permite paginar la tabla #}
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('beneficiariotemporal_show', { 'id': entity['idControl'] }) }}">{{ entity['idControl'] }}</a></td>
                            <td>{{ entity['desarrollo'] }}</td>
                            <td>{{ entity['unidad'] }}</td>                            
                            <td>{{ entity['nombreArchivo'] }}</td>
                            <td>{{ entity['nombre_u'] }} &nbsp;{{entity['apellido_u'] }}</td>                          
                            <td> </td>
                            <td class="text-center">
                                    <a href="{{ path('beneficiariotemporal_show', { 'id': entity['idControl'] }) }}" class="glyphicon glyphicon-search"></a>
                                    
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="holder"></div>{# Paginador: control de paginas #}                
            {% else %}
                
                <h2 class="alert alert-dismissable alert-warning alert-link text-center">
                    
                    <strong>No Existen Registros</strong>
                    
                </h2>
                
            {% endif %}
        </div>
    </div>
    <div align="right">
        <a href="{{ path('_welcome') }}" class="btn btn-success" role="button">Inicio</a>
        <a href="{{ path('beneficiariotemporal_new') }}" class="btn btn-primary">Cargar Archivo</a>
        
    </div>
    <br>
{% endblock %}
