{% extends '::base.html.twig' %}

{% block body -%}
    {% block stylesheets %}

    {{ parent() }}

      <link type="text/css" href="{{ asset('js/css/smoothness/jquery-ui-1.8.14.custom.css') }}" type="text/css" rel="stylesheet" />

    {% endblock %}
    <div class="panel panel-default">
        
        <div class="panel-heading">
            <span class="glyphicon glyphicon-search"></span>
            <h3 class="panel-title" style="display: inline;">Consultar Beneficiario</h3>
        </div>
        {% if message %}
        <div class="alert alert-dismissable alert-warning">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4>
            {{message}}            
          </h4>
        </div>
        {% endif %}
        <div id="yw0" class="panel-body">
            <form id="consulta" name="consulta" class="form-horizontal" action="{{ path('beneficiario_consulta') }}" method="post">
                <div class="form-group">
                   <label class="control-label col-lg-4">Nacionalidad</label>
                   <div class="col-lg-4">
                    <div class="radio">
                      <label>
                        <input type="radio" name="nacionalidad" id="optionsRadios1" value="V" checked="">
                        V
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="nacionalidad" id="optionsRadios1" value="E">
                        E
                      </label>
                    </div>
                   </div>
                </div>
                <div class="form-group">
                   <label class="control-label col-lg-4 required">Cédula</label>
                   <div class="col-lg-4">
                    <input required type="text" id="cedula" name="cedula" class="form-control" value='' placeholder='Ingrese el número de cédula'>
                   </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-4">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div align="right">
        <a href="{{ path('beneficiario') }}" class="btn btn-success" role="button">Volver</a>
    </div>
    <br>         
{% endblock %}
{% block javascripts %}

{{ parent() }}

  <script type="text/javascript" src="{{ asset('js/js/jquery-1.7.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/jquery-validation-1.9.0/jquery.validate.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.19.custom/js/jquery-ui-1.8.19.custom.min.js') }}"></script>
  <script>
  $(document).ready(function() {

    $("#consulta").validate({
        errorPlacement: function(error, element) {
            error.insertAfter(element);
        },
        rules: {
            'form[cedula]': {
                required: true,
                number: true
            }
        },
        messages: {
            'form[cedula]': {
                required: "<p class='requerido'>Requerido.</p>"
            }
        }
    });

  });
  </script>
{% endblock %}