{% extends '::base.html.twig' %}
    
{% block body -%}
    {% block stylesheets %}
         
        {{ parent() }}
        
        <link type="text/css" href="{{ asset('js/css/smoothness/jquery-ui-1.8.14.custom.css') }}" type="text/css" rel="stylesheet" />
          
    {% endblock %}
        {{ form_start(edit_form, { 'attr': {'id': 'formulario'}, 'style': 'horizontal', 'label_col': 4, 'widget_col':4 }) }}
        <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-edit"></span>
            <h3 class="panel-title" style="display: inline;"> Modificar Datos</h3>
        </div>
        <div id="yw0" class="panel-body">
            {{ form_errors(edit_form) }}
            <div class="form-group">
                {{ form_row(edit_form.nombre) }}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.geoEstado) }}
            </div>
            <div class="form-group" id="geoMunicipio">
                {{ form_row(edit_form.geoMunicipio) }}
            </div>
            <div class="form-group" id="geoParroquia">
                {{ form_row(edit_form.geoParroquia) }}
            </div>
            <div class="form-group" id="avCallEsqCarr">
                {{ form_row(edit_form.avCallEsqCarr) }}
            </div>
            <div class="form-group" id="urbanBarrio">
                {{ form_row(edit_form.urbanBarrio) }}
            </div>
            <div class="form-group" id="zona">
                {{ form_row(edit_form.zona) }}
            </div>
            <div class="form-group" id="descripcion">
                {{ form_row(edit_form.descripcion) }}
            </div>
            <div class="form-group" id="linderoEste">
                {{ form_row(edit_form.linderoEste) }}
            </div>
            <div class="form-group" id="linderoNorte">
                {{ form_row(edit_form.linderoNorte) }}
            </div>
            <div class="form-group" id="linderoOeste">
                {{ form_row(edit_form.linderoOeste) }}
            </div>
            <div class="form-group" id="linderoSur">
                {{ form_row(edit_form.linderoSur) }}
            </div>
            <div class="form-group" id="coordenadas">
                {{ form_row(edit_form.coordenadas) }}
            </div>
            <div class="form-group" id="loteTerrenoMt2">
                {{ form_row(edit_form.loteTerrenoMt2) }}
            </div>
            <div class="form-group" id="fuenteFinanciamiento">
                {{ form_row(edit_form.fuenteFinanciamiento) }}
            </div>
            <div class="form-group" id="titularidadDelTerreno">
                {{ form_row(edit_form.titularidadDelTerreno) }}
            </div>
            <div class="form-group" id="enteEjecutor">
                {{ form_row(edit_form.enteEjecutor) }}
            </div>
            <div class="form-group" id="fechaTransferencia">
                {{ form_row(edit_form.fechaTransferencia) }}
            </div>
        </div>
    </div>
</div>
<div align="center">
    {{ form_widget(edit_form.submit) }}
    {% if delete_form is defined %}
        {{ form(delete_form) }}
    {% endif %}
    <a href="{{ path('desarrollo') }}" class="btn btn-success" role="button">Volver</a>  
</div>
{{ form_end(edit_form) }}
<br>    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.19.custom/js/jquery-ui-1.8.19.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/validacionesGenerales.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#srpv_protocolizacionbundle_desarrollo_geoEstado').change(function(event){
                var id = $('#srpv_protocolizacionbundle_desarrollo_geoEstado').find(':selected').val();
                
                var url = "{{ path('updateMunicipio', {'id':'id'}) }}";
                
                url = url.replace("id", id);
                
                $('#geoMunicipio').load(url);
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $("#srpv_protocolizacionbundle_desarrollo_fechaTransferencia").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                firstDay: 1,
                minDate: 0,
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
            });
        });
    </script>
{% endblock %}