{% extends '::base.html.twig' %}

{% block body -%}

    {{ parent() }}
    <!-- search-sector -->
    <div class="header-search-sector pull-right">
    <form class='form-inline' action="{{ path('adjudicados') }}" method="post" {{ form_enctype(form) }}>      
            {{ form_errors(form) }}
            <div class="form-group">
                <label for="inputCedula" class="control-label">V</label>
                {{ form_widget(form.nacionalidad) }}
            </div>
            <div class="form-group">
               
                {{ form_widget(form.cedula) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.estadoid) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.municipioid) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.coordinadorid) }}
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            {{ form_rest(form) }}

    </form>

    </div>
    <!-- search-sector -->
    <br><br><br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span>
            <h3 class="panel-title" style="display: inline;">{% if title is defined %}{{title}}{% endif %}</h3>
        </div>
        <div id="yw0" class="panel-body">   
                {% if entities|length > 0 %} 
                <table class="records_list table table-bordered table-striped table-hover" border="1">
                    <thead>
                        <tr class="success">
                            <th>Id</th>
                            <th>Nombre del Beneficiario</th>
                            <th>Número de Cédula</th>
                            <th>Estado</th>
                            <th>Municipio</th>
                            <th>Coordinado Regional Asignado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody  id="pagination">{# Permite paginar la tabla #}
                        {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('beneficiario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nombre ~ ' ' ~  entity.apellido}}</td>
                            <td>
                                {% if entity.nacionalidad == 1 %}
                                    {{ 'V' ~ '-' ~ entity.cedula}}
                                {% else %}
                                    {{ 'E' ~ '-' ~ entity.cedula}}
                                {% endif %}
                            </td>
                            <td>{{ entity.estado}}</td>
                            <td>{{ entity.municipio}}</td>
                           {# {% if entity.personaIdJefe.nombre != NULL %}
                            <td>{{ entity.personaIdJefe.nombre ~ ' ' ~  entity.personaIdJefe.apellido}}</td>
                            {% else %}#}
                            <td>Sin Asignar</td>
                            {#{% endif %}#}
                            <td class="text-center">
                                <a href="{{ path('beneficiario_show', { 'id': entity['id'] }) }}" class="glyphicon glyphicon-search"></a>
                                    &nbsp;|&nbsp;
                                <a href="{{ path('beneficiario_edit', { 'id': entity['id'] }) }}" class="glyphicon glyphicon-pencil"></a>
                                    &nbsp;|&nbsp;
                                <a href="{{ path('beneficiario_edit', { 'id': entity['id'] }) }}" class="glyphicon glyphicon-edit"></a>
                                    &nbsp;|&nbsp;
                                <a href="{{ path('beneficiario_edit', { 'id': entity['id'] }) }}" class="glyphicon glyphicon-repeat"></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="holder"></div>{# Paginador: control de paginas #}  
                {% else %}
                <h2 class="alert alert-dismissable alert-warning alert-link text-center">
                    
                    <strong>No Existen Registros</strong>
                    
                </h2>
                {% endif %}
        </div>
    </div>
    <div align="right">
        <a href="{{ path('_welcome') }}" class="btn btn-success" role="button">Inicio</a>
    </div>
    <br>
{% endblock %}
