{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent() }}
<div class="header-search-sector pull-right">
    <form action="{{ path('vivienda') }}" class="form-inline" id="formulario" role="form" method="post">
        <div class="form-group">
            <select id="estadoid" name="estadoid" class="form-control">
                <option disabled="disabled" selected="selected" value="">Seleccione Estado</option>
                {% for estado in estados %}
                <option value="{{ estado.id }}">{{ estado.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" id="desarrollo">
            <select id="desarrolloid" name="desarrolloid" class="form-control">
                <option selected="selected" value="">Seleccione Nombre Desarrollo</option>
                {#{% for desarrollo in desarrollos %}
                <option value="{{ desarrollo.id }}">{{ desarrollo.nombre }}</option>
                {% endfor %}#}
            </select>
        </div>
        <div class="form-group" id="unidad">
            <select id="unidadid" name="unidadid" class="form-control">
                <option selected="selected" value="">Seleccione Nombre de Unidad</option>
                {#{% for unidad in unidades %}
                <option value="{{ unidad.id }}">{{ unidad.nombre }}</option>
                {% endfor %}#}
            </select>
        </div>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
    </form>
</div><!-- search-sector -->
<br><br><br>
<div class="panel panel-default">
    
    <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt"></span>
        <h3 class="panel-title" style="display: inline;">{% if title is defined %}{{title}}{% endif %}</h3>
    </div>
    
    <div id="yw0" class="panel-body  table-responsive">
       {% if entities|length > 0 %} 
        <table class="records_list table table-bordered table-striped table-hover" border="1">
            <thead>
                <tr class="success">
                    <th>Id</th>
                    <th>Construcción Mt2</th>
                    <th>Nro Piso</th>
                    <th>Nro Vivienda</th>
                    <th>Precio Vivienda</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('vivienda_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.construccionMt2 }}</td>
                    <td>{{ entity.nroPiso }}</td>
                    <td>{{ entity.nroVivienda }}</td>
                    <td>{{ entity.precioVivienda }}</td>
                    <td class="text-center">
                        <a href="{{ path('vivienda_show', { 'id': entity.id }) }}" class="glyphicon glyphicon-search"></a>
                        &nbsp;|&nbsp;
                        <a href="{{ path('vivienda_edit', { 'id': entity.id }) }}" class="glyphicon glyphicon-pencil"></a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        <div class="holder"></div>{# Paginador: control de paginas #}                
            {% else %}
        
        <h2 class="alert alert-dismissable alert-warning alert-link text-center">
            
            <strong>No Existen Registros</strong>
            
        </h2>
        
            {% endif %}
    </div>
</div>
<div align="right">
    <a href="{{ path('_welcome') }}" class="btn btn-success" role="button">Inicio</a>
    <a href="{{ path('vivienda_new') }}" class="btn btn-primary">Crear Registro</a>
</div>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function(){
        $('#estadoid').change(function(event){
            var id = $('#estadoid').find(':selected').val();
            //descomentar cuando ya se tenga dominio
            //$('#desarrollo').load('/updateDesarollo/'+id);
            $('#desarrollo').load('/protocolizacion/web/app.php/updateDesarollo/'+id);
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('#desarrolloid').change(function(event){
            var desarrollo = $('#desarrolloid').find(':selected').val();
            //descomentar cuando ya se tenga dominio
            //$('#unidad').load('/updateUnidad/'+id);
            $('#unidad').load('//web/app.php/updateUnidad/'+desarrollo);
        });
    });
</script>
<script>
    $(document).ready(function() {
    // Así accedemos al Valor de la opción seleccionada
    var valor = $("#desarrolloid").val();
    alert(valor);
    // Si seleccionamos la opción "Texto 1"
    // nos mostrará por pantalla "1"
});
</script>
{% endblock %}
