{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent() }}
<div class="panel panel-default">
    
    <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt"></span>
        <h3 class="panel-title" style="display: inline;">{% if title is defined %}{{title}}{% endif %}</h3>
    </div>
    
    <div id="yw0" class="panel-body  table-responsive">
        
        <table class="records_list table table-bordered table-striped table-hover" border="1">
            <thead>
                <tr class="success">
                    <th>Id</th>
                    <th>Comedor</th>
                    <th>Construccionmt2</th>
                    <th>Coordenadas</th>
                    <th>Descripcionestac</th>
                    <th>Fechaactualizacion</th>
                    <th>Fechacreacion</th>
                    <th>Lavandero</th>
                    <th>Linderoeste</th>
                    <th>Linderonorte</th>
                    <th>Linderooeste</th>
                    <th>Linderosur</th>
                    <th>Nrobanos</th>
                    <th>Nroestacionamientos</th>
                    <th>Nrohabitaciones</th>
                    <th>Nropiso</th>
                    <th>Nrovivienda</th>
                    <th>Preciovivienda</th>
                    <th>Sala</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('protocolizacion_vivienda_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.comedor }}</td>
                    <td>{{ entity.construccionMt2 }}</td>
                    <td>{{ entity.coordenadas }}</td>
                    <td>{{ entity.descripcionEstac }}</td>
                    <td>{% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.lavandero }}</td>
                    <td>{{ entity.linderoEste }}</td>
                    <td>{{ entity.linderoNorte }}</td>
                    <td>{{ entity.linderoOeste }}</td>
                    <td>{{ entity.linderoSur }}</td>
                    <td>{{ entity.nroBanos }}</td>
                    <td>{{ entity.nroEstacionamientos }}</td>
                    <td>{{ entity.nroHabitaciones }}</td>
                    <td>{{ entity.nroPiso }}</td>
                    <td>{{ entity.nroVivienda }}</td>
                    <td>{{ entity.precioVivienda }}</td>
                    <td>{{ entity.sala }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('protocolizacion_vivienda_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('protocolizacion_vivienda_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div align="right">
    <a href="{{ path('_welcome') }}" class="btn btn-success" role="button">Inicio</a>
    <a href="{{ path('protocolizacion_vivienda_new') }}" class="btn btn-primary">Crear Registro</a>
</div>
    {% endblock %}
