{% extends '::base.html.twig' %}
    
{% block body -%}
    {{ parent() }}
    {{ form_start(form, { 'attr': {'id': 'formulario'}, 'style': 'horizontal', 'label_col': 4, 'widget_col':4 }) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <h3 class="panel-title" style="display: inline;">Agregar Vivienda</h3>
        </div>
        <div id="yw0" class="panel-body">
            {{ form_errors(form) }}
            <div class="form-group">
                <label class="control-label col-lg-4 required" for="desarrollo">Desarrollo</label>
                <div class="col-lg-4">
                    <select id="desarrolloid" name="desarrolloid" class="form-control" required="required">
                        <option value="">Seleccione Nombre Desarrollo</option>
                        {% for desarrollo in desarrollos %}
                            <option value="{{ desarrollo.id }}">{{ desarrollo.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group" id="unidadHabitacional">
                {{ form_row(form.unidadHabitacional) }}
            </div>
            <div class="form-group">
                {{ form_row(form.tipoVivienda) }}
            </div>
            <div class="form-group">
                {{ form_row(form.construccionMt2) }}
            </div>
            <div class="form-group" id="precioVivienda">
                {{ form_row(form.precioVivienda) }}
            </div>
            <div class="form-group" id="nroPiso">
                {{ form_row(form.nroPiso) }}
            </div>
            <div class="form-group" id="nroVivienda">
                {{ form_row(form.nroVivienda) }}
            </div>
            <div class="form-group" id="sala">
                {{ form_row(form.sala) }}
            </div>
            <div class="form-group" id="comedor">
                {{ form_row(form.comedor) }}
            </div>
            <div class="form-group" id="cocina">
                {{ form_row(form.cocina) }}
            </div>
            <div class="form-group" id="lavandero">
                {{ form_row(form.lavandero) }}
            </div>
            <div class="form-group" id="linderoEste">
                {{ form_row(form.linderoEste) }}
            </div>
            <div class="form-group" id="linderoNorte">
                {{ form_row(form.linderoNorte) }}
            </div>
            <div class="form-group" id="linderoOeste">
                {{ form_row(form.linderoOeste) }}
            </div>
            <div class="form-group" id="linderoSur">
                {{ form_row(form.linderoSur) }}
            </div>
            <div class="form-group" id="coordenadas">
                {{ form_row(form.coordenadas) }}
            </div>
            <div class="form-group" id="descripcionEstac">
                {{ form_row(form.descripcionEstac) }}
            </div>
            <div class="form-group" id="nroEstacionamientos">
                {{ form_row(form.nroEstacionamientos) }}
            </div>
            <div class="form-group" id="nroBanos">
                {{ form_row(form.nroBanos) }}
            </div>
            <div class="form-group" id="nroHabitaciones">
                {{ form_row(form.nroHabitaciones) }}
            </div>
        </div>
    </div>
    <div align="center">
        {{ form_widget(form.submit) }}
        <a href="{{ path('vivienda') }}" class="btn btn-success" role="button">Volver</a>
    </div>
    {{ form_end(form) }}
    <br>         
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.19.custom/js/jquery-ui-1.8.19.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/validacionesGenerales.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#desarrolloid').change(function(event){
                var id = $('#desarrolloid').find(':selected').val();
                
                var url = "{{ path('updateUnidadVivienda', {'id':'params'}) }}";
                
                url = url.replace("params", id);
                
                $('#unidadHabitacional').load(url);
            });
        });
    </script>
{% endblock %}