<!DOCTYPE html>
<html>
{#
-----------------------------------
Nombre del Archivo: base.html.twig
Ruta del Archivo: /var/www/sisprov/app/Resources/views/

Autor:GTI Banavih
Descripcion: Base de la plantilla. Incluye img de cintillos de encabezado, Menu, Pie de Página y Bloques para funcionalidades del sistema
Observaciones: 
-----------------------------------
#}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}.:: SISPROV - Sistema de Protocolización de Viviendas ::. .:: Banavih ::.{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- ******************************************************************************* -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <!-- ******************************************************************************* -->
    {#  Incluir jQueryUI para interacciones, widgets y temas  #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jquery-ui-1.11.0/jquery-ui.css') }}" />
    <script src="{{ asset('bundles/jquery-ui-1.11.0/external/jquery/jquery.js') }}"></script>        
    <script src="{{ asset('bundles/jquery-ui-1.11.0/jquery-ui.js') }}"></script>     
{% block javascripts %}{% endblock %}
</head>
<body>
     <div class="container">{% if msg is defined %}{{msg}}{% endif %}</div>

    <div class="container">         
        <div class="span12">        
            <!-- Cintillo Encabezado -->
            <div id="content"><img src="{{ asset('img/cintillo_gb60.png') }}" alt="Gobierno Bolivariano!"/></div>            
        </div>  
    
        <div class="page-header">
            <h1 align="center">Sistema de Protocolización de Viviendas </h1>
        </div>
        
        <div class="well well-lg col-lg11 alert-danger" align="center">

            {% block body %}{% endblock %}

        </div>
                    
    </div>
            <div class="container" align="right">
                <a href="{{ path('_homepage') }}" class="btn btn-success" role="button">Inicio</a>
            </div>
       <br>     
            <div class="container panel-footer" align="right"><h6>Desarrollado por: GTI Banavih</h6></div>
     
</body>
</html>
